@font-face {
  font-family: 'creep';
  src: url(Assets/Fonts/Creepy.woff);
}
@font-face {
  font-family: 'creep2';
  src: url(Assets/Fonts/Creepy2.woff);
}
@font-face {
  font-family: 'lunacy';
  src: url(Assets/Fonts/Lunacy.woff);
}
@font-face {
  font-family: 'lunacy2';
  src: url(Assets/Fonts/Lunacy.woff2);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: radial-gradient(#9d5900, #3d3200);
  height: 100vh;
  cursor: url(Assets/Cursors/Ghost.cur), auto;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ff6d00;
  font-family: creep, serif;
  z-index: 100;
}
.overlay-text span {
  font-size: .3em;
}
.overlay-text.visible {
  display: flex;
  animation: overlay-grow .5s forwards;
}
@keyframes overlay-grow {
  from {
    background: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}
.inner {
  display: flex;
  flex-direction: column;
  width: 860px;
  height: 100%;
  margin: 0 auto;
  padding-top: 70px;
}
h1 {
  font-family: creep, serif;
  font-size: 6em;
  margin: 0;
  text-align: center;
  color: #ff6d00;
  margin-bottom: 20px;
}
.info {
  display: flex;
  justify-content: space-between;
  font-family: lunacy, serif;
  font-size: 4em;
  color: #ffbb89;
}
.card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  perspective: 500px;
}
.card {
  position: relative;
  margin: 0 20px 20px 0;
  cursor: url(Assets/Cursors/GhostHover.cur), auto;
  width: 125px;
  height: 175px;
}

.card-front, .card-back {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  overflow: hidden;
  transition: all .3s linear;
  backface-visibility: hidden;
}
.card-front {
  transform: rotateY(180deg);
  background: #ffbb89;
}
.card:hover .web {
  width: 70px;
}
.card:hover .web {
  width: 52px;
}
.card:hover .card-value {
  transform: translateY(0);
}
.card-front:hover .card-value {
  transform: scale(1.05);
}
.card-back {
  transform: rotateY(0);
  background: rgba(0, 0, 0, 0.8);
}
.web {
  position: absolute;
  transition: all .2s linear;
  width: 47px;
}
.web-top-left {
  top: 0;
  left: 0;
  transform: rotate(270deg);
}
.web-top-right {
  top: 0;
  right: 0;
}
.web-bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}
.web-bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
}
.card .card-value {
  transition: all .2s linear;
}
.card-back .card-value {
  align-self: flex-start;
  transform: translateY(-10px);
}
/* card visible */
.card.visible .card-front {
  transform: rotateY(0);
}
.card.visible .card-back {
  transform: rotateY(-180deg);
}
/* card match */
.card.match .card-front .card-value {
  animation: dance 1s linear .5s infinite;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

@media screen and (max-width: 767px) {
  .forPC {
    display: none;
  }
  @keyframes overlay-grow {
    from {
      background: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background: rgba(0, 0, 0, 0.8);
      font-size: 4em;
    }
  }
  .inner {
    width: 100%;
    padding: 60px 20px 20px;
  }
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  .info {
    font-size: 2em;
  }
  .card-wrap {
    margin-right: -2%;
  }
  .card {
    width: 23%;
    height: 125px;
    margin: 0 2% 2% 0;
  }
  .card .card-value {
    width: 50px;
  }
  .web {
    width: 30px;
  }
  .card:hover .web {
    width: 35px;
  }
}